*,
*::before,
*::after,
h1 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  scroll-behavior: smooth;
}

body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 140%;
  color: #545454;
  background-color: #f5f5f5;
}

body.lock {
  overflow: hidden;
}

body.night {
  background-color: #252424;
  color: #e1ebec;
}

.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;
  overflow: hidden;
}

main {
  flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 6.9444444444vw;
}

body .material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.title {
  position: relative;
  display: inline-block;
  margin-bottom: 3.4722222222vw;
  line-height: 120%;
}

.title::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -20%;
  left: 20%;
  width: 120%;
  height: calc(20px + 20 * ((100vw - 320px) / 1120));
  background-color: #7ddede;
  transition: all 1s;
}

.night .title::before {
  background-color: #7C33B5;
}

.hidden.title {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.hidden.title::before {
  transform: scale(0);
}

.show.title {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.show.title::before {
  transform: scale(1);
}

.code {
  font-family: Menlo, "Courier New", Courier, monospace;
  font-size: 18px;
}

.code__wrapper {
  font-family: Menlo, "Courier New", Courier, monospace;
}

.code__declarations {
  color: #148b8b;
}

.code__name {
  font-weight: 600;
  color: shade(#7ac7c7, 25%);
}

.code__number {
  color: #fa595f;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.main-header.color {
  background: #f5f5f5;
}

.night .main-header.color {
  background: #545454;
}

.main-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-nav {
  padding: 17px 0;
}

.site-list {
  display: flex;
  -moz-column-gap: 4.1666666667vw;
       column-gap: 4.1666666667vw;
  flex-wrap: wrap;
}

.site-list__link {
  position: relative;
  padding-bottom: 10px;
  line-height: 130%;
  color: #545454;
  text-decoration: none;
  overflow: hidden;
}

.site-list__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  transition: width 0.3s linear;
}

.site-list__link:hover::after {
  width: 100%;
  border-radius: 15px;
  background-color: #ff8d92;
}

.night .site-list__link {
  color: #e1ebec;
}

.site-list__link:active,
.night .site-list__link:active {
  color: #ff8d92;
}

.site-list__link:active::after,
.night .site-list__link:active::after {
  width: 0;
}

.site-list__link--active,
.night .site-list__link--active {
  color: #ff8d92;
  cursor: default;
}

.site-list__link--active:hover::after,
.night .site-list__link--active:hover::after {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  row-gap: 8.3333333333vw;
  margin-bottom: 4.1666666667vw;
}


.intro {
  min-height: 100vh;

  background-color: #facfd0;
  background-image: url(../img/pexels-eberhard-grossgasteiger-2088238.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.night .intro {
  background-color: #0E0619;
  background-image: url(../img/1239365.jpg);
}

.intro__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 150px;
  margin-bottom: 10.4166666667vw;
}

.intro__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 6.9444444444vw;
}

.intro__text {
  margin-bottom: 4.1666666667vw;
  font-weight: 700;
  font-size: 100px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px -1px 1px #545454;
}

.intro__text span {
  font-family: "Pacifico", cursive;
  color: #fa595f;
  text-shadow: none;
  text-transform: none;
}

.intro__buttons {
  display: flex;
  -moz-column-gap: 1.3888888889vw;
       column-gap: 1.3888888889vw;
}

.intro__button--download {
  padding-right: 50px;
  background-image: url(../img/icons/file_download.svg);
  background-repeat: no-repeat;
  background-size: auto 30px;
  background-position: top 50% right 10px;
}

.night .intro__button {
  background-color: #fa595f;
  border-color: #fa595f;
}

.night .intro__button--download {
  background-color: #fff;
}

.intro__image-wrapper {
  position: relative;
  z-index: 1;
  margin-right: 2.7777777778vw;
}

.night .intro__image-wrapper::before {
  display: none;
}

.intro__image {
  width: 27.7777777778vw;
  height: 27.7777777778vw;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 0 16px 3px rgba(252, 252, 252, 0.779);
}

.intro__image img {
  width: 100%;
  height: auto;
}

.about-me__text-wrapper {
  padding: 0 18.75vw 0 40px;
}

.about-me__text {
  margin-bottom: 10px;
}